/* src/index.css */
@font-face {
  font-family: 'PixelMplus10';
  src: url('/src/assets/fonts/PixelMplus10-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PixelMplus10';
  src: url('/src/assets/fonts/PixelMplus10-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PixelMplus12';
  src: url('/src/assets/fonts/PixelMplus12-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PixelMplus12';
  src: url('/src/assets/fonts/PixelMplus12-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply bg-black text-white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PixelMplus10', cursive;
}
